<?xml version="1.0"?>

<model>
  <name>Eurobot Landmark Model</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Benedikt Elsäßer</name>
    <email>be121els@htwg-konstanz.de</email>
  </author>

  <description>
    Example for a Landmark
  </description>

</model>