<?xml version="1.0"?>

<model>
  <name>Eurobot Cans Model with Texture</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Michael Blaich</name>
    <email>mblaich@htwg-konstanz.de</email>
  </author>

  <description>
    The cans model with texture for eurobot 2025
  </description>

</model>
